.contenitore {
    width: 220px;
    height: 140px;
}

.contenitore:hover {
    cursor: pointer;
    scale: 1.2;
    z-index: 1;

}

.img_card_s {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px black;
    margin-left: 80px;
    transform: rotate(20deg);

}

.o_flow {
    overflow: hidden;
}

#input_find {
    background-color: rgb(64, 63, 63);
    width: 90%;

}

#navbar_xs{
    cursor: pointer;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.704) 60px, rgba(0, 0, 0, 0.163));
    
   }