/* STRUTTURA */
/* ---------------------------------------------------------------------------------------------- */

#navbar {
  min-width: 350px;
  max-width: 350px;
  height: calc(100vh - 80px);
  background-color: black;

  ul {
    list-style: none;
  }

  #list_comment {
    opacity: 50%;
    font-size: 0.8em;
    scrollbar-color: #5e5e5e rgba(0, 0, 0, 0);
    overflow-y: scroll;
  }

  .bg_gradient1 {
    background: linear-gradient(100deg, #4832A5, #9198e5);
    margin-left: 2px;
  }

  .bg_gradient2 {
    background-color: #02543A;
    color: #149643;
    margin-left: 2px;
  }

  .test1 {
    background-color: black;
  }

  a {
    color: #a5a5a5;

    &:hover {
      color: white;
    }
  }

  .fs-7-menu {
    font-size: 0.8em;
    font-weight: bolder;
  }
}

#main {
  overflow: hidden;
}

#main-body {
  height: calc(100vh - 80px);
  overflow-y: scroll;
  scrollbar-color: #5e5e5e rgba(0, 0, 0, 0);
  background: linear-gradient(to bottom, #222222, #101010);
}

#upper-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}

.active {
  background: rgba(26, 0, 142, 0.574);
}

.inactive {
  background-color: transparent;
}

.btn-account {
  background-color: black;
  color: white;
  border: none;
  border-radius: 30px;
  padding-right: 10px;
  font-size: 15px;
}

.dropdown-menu {
  background-color: #282828;
}

.dropdown-menu button {
  color: white;
  margin: 10px 0;
}

.dropdown-menu button:hover {
  background-color: #5e5e5e;
  color: white;
}

.dropdown-menu li:last-child {
  border-top: 1px solid #343434;
}

.col-custom-sidebar {
  min-width: 280px;
  max-width: 280px;
  background: black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: -4px 4px 30px rgba(0, 0, 0, 0.4);

  i {
    color: #a5a5a5;

    &:hover {
      color: #dbdbdb;
    }
  }
}

#sidebar.active {
  margin-right: -280px;
}

.bg-color-sidebar-list {
  background-color: black;
  color: #a5a5a5;

  h6 {
    font-size: 0.8em;
  }

  p {
    font-size: 0.7em;
  }

  &:hover {
    background-color: black;
    color: #dbdbdb;
  }

  &:focus {
    background-color: black;
  }
}

#player {
  background-color: #181818;
  border-top: .5px solid #343434;
  position: absolute;
  bottom: 0;

  #cover {
    width: 60px;
    margin-left: 20px;
  }

  #volumeControl {
    width: 80px;
    height: 4px;
    background: #e9ecef;
    -webkit-appearance: none;
  }

  #volumeControl::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  #volumeControl::-moz-range-thumb {
    -webkit-appearance: none;
  }

  #volumeControl::-ms-thumb {
    -webkit-appearance: none;
  }

  #test {
    background-color: #181818;
    border: none;
  }

  .dot_hover {
    opacity: 0;
  }

  .dot_hover:hover {
    opacity: 1;
    top: 40%
  }

  .toggle_music {
    color: #a5a5a5;
  }

  .toggle_music:hover {
    color: white;
  }
}

.hidden {
  display: none;
}

/* CARD PRINCIPALE */
/* ---------------------------------------------------------------------------------------------- */

#playing-container-under {
  background: linear-gradient(15deg, black, #202020 80.71%);
  font-size: 0.7em;
  white-space: nowrap;

  #text-container {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 65px;
    font-weight: bolder;
  }


  #btnAnnunci {
    border-radius: 20px;
    background-color: #242424;
    border: 0;
    padding: 5px 10px;
    color: #808080;
    font-size: 0.9em;
    font-weight: 900;

    &:hover {
      color: #ababab;
    }
  }

  #btnPlay {
    border-radius: 30px;
    background-color: #2eb454;
    border: 0;
    padding: 12px 30px;
    color: black;
    font-size: 1.2em;
    font-weight: 900;

    &:hover {
      scale: 1.1;
      box-shadow: 0px 0px 20px#2eb454;
    }
  }

  #btnSave {
    border-radius: 30px;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.431);
    padding: 12px 30px;
    color: white;
    font-size: 1.2em;
    font-weight: 900;

    &:hover {
      scale: 1.1;
    }
  }

  strong {
    color: #a5a5a5;

    &:hover {
      color: white;
    }
  }

}

