@import "./partials/font";
@import "./partials/home";
@import "./partials/cardHome";
@import "./partials/album";
@import "./partials/artist";


body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Circular", sans-serif;
}